<!doctype html>
<html lang="en" ng-app="chinoVirtualApp">
<head>
<meta charset="utf-8">
<title>The Chino Project</title>
  <!-- JQUERY -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- ANGULAR -->
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-resource/angular-resource.min.js"></script>
 <!--   <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script> -->
	
	<!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
	<script src="node_modules/bootbox/bootbox.min.js"></script>
	<!-- LOADING BAR -->
	<script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
	<link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.min.css"/>
	<!-- ANGULAR  -->
	<script src="node_modules/angular-animate/angular-animate.js"></script>
	
</head>
<body data-ng-controller="TodosLosProductosCtrl as productosCtrl"> <!--  data-ng-controller="TodosLosProductosCtrl as productosCtrl"
		data-ng-controller2="TodosLosClientesCrtl as clientesCtrl">-->
	    
<div class="container">
  <div class="page-header">
  <img src="images/logoAzul.png" alt="Logo Chino" class="img-responsive">
   <h1>
        <a ui-sref="home">ChinoProject </a>
      <small> Virtual Online</small>
      </h1>
  </div>
  <!-- Mensajes -->		
  <div class="row">
  <nav class="navbar nav-pills">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalInicioDeSesion">
	  <span class="glyphicon glyphicon-log-in"></span> Login</button></li>
        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registroModal"> <!-- data-toggle="modal" data-target="#myModalCarrito" -->
        	<span class="glyphicon glyphicon-user"></span>Registrar</button></li>
        <li><button type="button" class="btn btn-primary" data-ng-click="productosCtrl.verCarritoModal()">
        	<span class="glyphicon glyphicon-shopping-cart"></span>Carrito</button></li>			
      </ul>
    </div>
  </div>
</nav>
</div>
<!--  <div ng-controller="TodosLosProductosCtrl as productosCtrl"> -->
<!-- <div class="col-lg-2 well well-lg">
  <div class="btn-group-vertical">
	<button type="button" class="btn btn-primary disabled ">Buscar Producto</button>
	<button type="button" class="btn btn-primary disabled ">Servicios</button>

  </div>
 </div> -->
 <div class="col-lg-9 ">
 	<div class="table-responsive"> 
			 <table class="table table-striped table-hover table-condensed example-animate-container">
			 	<tbody>
				 	<tr>
				 		<th><a ui-sref="home">Imagen</a></th>
				 		<th><a ui-sref="home">Tipo De Producto </a></th>
				 		<th><a ui-sref="home">Marca</a></th>
				 		<th><a ui-sref="home">Cantidad Disponible</a></th>
				 		<th><a ui-sref="home">Precio</a></th>
				 		<th>&nbsp;</th>
				 	</tr>
				 	 <tr data-ng-repeat="producto in productosCtrl.productos " class="animate-repeat">
						<td class="col-xs-1"><img src={{producto.imagen}} alt="Manaos" style="width:128px;height:128px; class="img-responsive"></td>
						<td class="col-xs-2">{{producto.tipoDeProducto}}</td>
						<td class="col-xs-2">{{producto.marca}}</td>
						<td class="col-xs-1">{{producto.stockDisponible}}</td>
						<td class="col-xs-1">{{producto.precio}}
						<span class="glyphicon glyphicon-usd"></span></td>
						<td nowrap class="col-xs-2">
							<button type="button" class="btn btn-default" data-ng-click="productosCtrl.verDescripcion(producto)" aria-label="Ver detalle">
								<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>								
							</button>
							<button type="button" class="btn btn-danger" data-ng-click="productosCtrl.seleccionarProductoYAgregarloAlCarrito(producto);" aria-label="seleccionar">
								<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>								
							</button>
						</td>
					</tr>
				 </tbody>
				</table>
		</div>		 
 </div>

<!--  </div> -->
<!-- MODEL WINDOW PARA VER LA DESCRIPCION DEL PRODUCTO -->
<div id="verDescripcionProductoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1>
      			 <a ui-sref="home">ChinoProject </a>
     			 <small> Descripcion Del Producto</small>
     			 </h1>
				<h2>{{productosCtrl.productoSeleccionado.descripcion}}</h2>
			</div>
		</div>
	</div>
</div>
<!--  <div ng-controller="TodosLosClientesCrtl as clientesCtrl">--> 
<div id="verDescripcionClienteModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1>
      			 <a ui-sref="home">ChinoProject </a>
     			 <small> Descripcion Del Cliente</small>
     			 </h1>
				<h2>{{productosCtrl.usuario.nombreUsuario}}</h2>
			</div>
		</div>
	</div>
</div>
<!-- MODAL SALDO CARGAR -->
<div id="cargarSaldoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1>
      			 <a ui-sref="home">ChinoProject </a>
     			 <small> Descripcion Del Cliente</small>
     			 </h1>
				<h2>{{productosCtrl.usuario.nombreUsuario}}</h2>
			</div>
		</div>
	</div>
</div>

  <!-- Modal  de Inicio de sesion-->
  <div class="modal fade" id="myModalInicioDeSesion" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
    <!-- Modal content-->
    	<div class="modal-content">
    		<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal">&times;</button>
    		</div>	
    			 <div class="modal-body">
         	 <form name="IniciarSesiomForm" role="form">	
         	 	<fieldset>
				    <div class="form-group">
			    	  	<label for="nombreUsuario">Nombre De Usuario</label>
			    	  	<div class="input-group">
			      		<input data-ng-model="productosCtrl.nombreUser" type="text" class="form-control"placeholder="JuanPerez89">
			      		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			      		</div>
			    	</div>
			    	<div class="form-group">
			      		<label for="contrasenha">Password</label>
			      		<div class="input-group">
			      		<input data-ng-model="productosCtrl.contrasenha" type="password" class="form-control" placeholder="*****">
			      		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			      		</div>
			    	</div>
			    	<br>
    				 <button type="submit" class="btn btn-primary"
						data-ng-click="productosCtrl.aceptar()">Aceptar</button>
	
			    	<!--  <div class="example-animate-container" style="padding-top:10px">
                    	<div class="alert alert-danger animate-repeat" ng-repeat="error in registros.errors">{{error}}</div>
	                </div>
	                -->
			  	</fieldset>
         	 </form>
         	 </div>
    		</div>
    	</div>
    </div> 
  <!-- Modal  de registro-->
  <div id="registroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <form name="ClienteForm" role="form">
			  	<fieldset>
				    <div class="form-group">
			    	  	<label for="nombreUsuario">Nombre De Usuario</label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.nombreUsuario" type="text" class="form-control" placeholder="ElTurrito07">
			    	</div>
			    	<div class="form-group">
			    	  	<label for="nombre">Nombre </label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.nombre" type="text" class="form-control" placeholder="Carlos">
			    	</div>
			    	<div class="form-group">
			    	  	<label for="apellido">Apellido</label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.apellido" type="text" class="form-control" placeholder="Saldaña">
			    	</div>
			    	<div class="form-group">
			    	  	<label for="domicilio">Domicilio</label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.domicilio" type="text" class="form-control" placeholder="Quilmes Av.Calchaquie 1025">
			    	</div>
			    	<div class="form-group">
			      		<label for="password">Password</label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.password" type="password" class="form-control"placeholder="****">
			    	</div>
			    	<div class="form-group">
			      		<label for="email">Coloca tu Email</label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.email" type="text" class="form-control"placeholder="ElTurrito07@gmail.com">
			    	</div>
			    	<div class="form-group">
			      		<label for="edad">Coloca tu Edad</label>
			      		<input data-ng-model="productosCtrl.nuevoCliente.edad" type="text" class="form-control"placeholder="25">
			    	</div>
			    	
			    	<br>  
			  	</fieldset>
				</form>
				</div>
				<div class="modal-footer">
				<button type="submit" class="btn btn-primary"
						data-ng-click="productosCtrl.agregarCliente()">Registrarme</button>
			      	<!--  <div class="example-animate-container" style="padding-top:10px">
                    	<div class="alert alert-danger animate-repeat" ng-repeat="error in clientesCtrl.errors">{{error}}</div>
	                </div>-->
	              </div>
      </div>
      
    </div>
  </div>
  <!-- Modal  de Carrito-->
  <div class="modal fade" id="myModalCarrito" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
    <!-- Modal content-->
    	<div class="modal-content">
    		<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal">&times;</button>
    		</div>
    			 <div class="modal-body">
         	 <form name="IniciarSesiomForm" role="form">	
         	 	<fieldset>
				    <div class="form-group">
			    	  	<label for="nombreUsuario">Nombre De Usuario:</label>
			    	  	<h2><a ui-sref="home">{{productosCtrl.usuarioIniciado.nombreUsuario}}</a></h2>
			    	</div>
			    	<div class="form-group">
			    	  	<label for="monto">Monto Acumulado:</label>
			    	  	<h2>{{productosCtrl.usuarioIniciado.carrito.montoAcumulado}}</h2>
			    	  	<label for="monto">Saldo Acumulado:</label>
			    	  	<h2>{{productosCtrl.usuarioIniciado.saldoDisponible}}</h2>
			    	</div>
			    	
			    	<div class="form-group">
			    	  	<label for="montoACargar">Cargar Saldo:</label>
			    	  	<div class="input-group">
			    	  	<input id="montoACargar" data-ng-model="productosCtrl.saldoACargar" type="number" class="form-control" placeholder="coloca la cantidad a agregar a tu billetera">
			    	  	<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
			    	  	</div>
			    	</div>
			    	<br>
			    	<div class="form-group">
			    	  	<label for="carrito">Productos En Carrito</label>
			    	  	<div class="table-responsive"> 
			 			<table class="table table-striped table-hover table-condensed example-animate-container">
			 			<tbody>
				 			<tr>
				 				<th><a ui-sref="home">tipoDeProducto </a></th>
				 				<th><a ui-sref="home">Marca</a></th>
				 				
				 				<th><a ui-sref="home">Precio</a></th>
				 				<th>&nbsp;</th>
				 			</tr>
				 			<tr data-ng-repeat="producto in productosCtrl.usuarioIniciado.carrito.productosAcumulados " class="animate-repeat">
								<td class="col-xs-2">{{producto.tipoDeProducto}}</td>
								<td class="col-xs-2">{{producto.marca}}</td>
						
								<td class="col-xs-1">{{producto.precio}}</td>
								<td nowrap class="col-xs-2">
									<button type="button" class="btn btn-default" data-ng-click="productosCtrl.verDescripcionC(producto)" aria-label="Ver detalle">
										<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>								
									</button>
									<button type="button" class="btn btn-default" data-ng-click="productosCtrl.borrarProductoDelCarrito(producto)" aria-label="Ver detalle">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>								
									</button>
								</td>	
								</tr>
						 	</tbody>
							</table>
						</div>		 
 					</div> 	
    				 <button type="submit" class="btn btn-primary"
						data-ng-click="productosCtrl.seguirComprando()">Seguir Comprando</button>
					<button type="submit" class="btn btn-success"
						data-ng-click="productosCtrl.comprar()">Comprar</button>
					<button type="button" class="btn btn-primary"data-ng-click="productosCtrl.cargarSaldo()">Cargar Saldo</button>
					<button type="button" class="btn btn-primary" data-ng-click="productosCtrl.cerrarSesion()">
        			<span class="glyphicon glyphicon-user"></span>Sing Out</button>	
	
			    	<!--  <div class="example-animate-container" style="padding-top:10px">
                    	<div class="alert alert-danger animate-repeat" ng-repeat="error in registros.errors">{{error}}</div>
	                </div>
	                -->
			  	</fieldset>
         	 </form>
         	 </div>
    		</div>
    	</div>
    </div> 
  <!--  <div ng-controller="TodosLosClientesCrtl as clientesCtrl"> 
  	<div  class="col-lg-9 ">
 		<div class="table-responsive"> 
			 <table class="table table-striped table-hover table-condensed example-animate-container">
			 	<tbody>
				 	<tr>
				 		<th><a ui-sref="home">Nombre De Usuario </a></th>
				 		<th><a ui-sref="home">Email</a></th>
				 		<th><a ui-sref="home">Nombre</a></th>
				 		<th><a ui-sref="home">Apellido</a></th>
				 		<th>&nbsp;</th>
				 	</tr>
				 	<tr data-ng-repeat="cliente in productosCtrl.clientes " class="animate-repeat">
						<td class="col-xs-2">{{cliente.nombreUsuario}}</td>
						<td class="col-xs-2">{{cliente.email}}</td>
						<td class="col-xs-1">{{cliente.nombre}}</td>
						<td class="col-xs-1">{{cliente.apellido}}</td>
						<td nowrap class="col-xs-2">
							<button type="button" class="btn btn-default" data-ng-click="productosCtrl.verDescripcionC(cliente)" aria-label="Ver detalle">
								<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>								
							</button>
						</td>	
					</tr>
				 </tbody>
				</table>
			</div>		 
 		</div>
	</div>-->
</div>	
<footer class="container-fluid text-center">
  <p>ChinoProject Online Store Copyright</p>  
</footer>
<!-- nuestra aplicacion js -->
<script src="js/app.js"></script>
<script src="js/Producto/controllerProducto.js"></script>
<script src="js/Producto/services.js"></script>
<script src="js/Usuario/controllerCliente.js"></script>
<script src="js/Usuario/services.js"></script>	
</body>
</html>